Django==1.9.2
Twisted==15.5.0
argparse==1.4.0
arrow==0.7.0
attrs==15.2.0
cffi==1.5.2
cryptography==1.2.3
defusedxml==0.4.1
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
ndg-httpsclient==0.4.0
pyOpenSSL==0.15.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pyserial==3.0.1
python-dateutil==2.5.0
pytz==2015.7
requests==2.9.1
rpc4django==0.3.0
service-identity==16.0.0
six==1.10.0
tinyrpc==0.5
wsgiref==0.1.2
zope.interface==4.1.3

